@import url('https://fonts.googleapis.com/css2?family=Readex+Pro:wght@160..700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

.readex-pro {
    font-family: "Readex Pro", serif;
}

#top-burger {
    height: 5px;
    width: 25px;
    background-color: #7F72CD;
    border-radius: 5px;
}

#middle-burger {
    height: 5px;
    width: 30px;
    background-color: #8CDA70;
    margin: 4px 0px 4px 0px;
    border-radius: 5px;
}

#bottom-burger {
    height: 5px;
    width: 25px;
    background-color: #7F72CD;
    border-radius: 5px;
}

.bg-primary-color {
    background-color: #7F72CD;
}